<nav class="navbar navbar-expand-lg navbar-light bg-light flex-row justify-content-between"
     [hidden]="!this.ApiService.showHeader()">
    <a class="navbar-brand" href="/home">{{title}}</a>
    <div class="d-flex flex-row">
        <button type="button" class="btn btn-primary mr-1" (click)="this.ApiService.openPage('/home')">Home
        </button>
        <button type="button" class="btn btn-primary mr-1" (click)="this.ApiService.openPage('/users')">Users
        </button>
        <button type="button" class="btn btn-primary mr-1" (click)="this.ApiService.openPage('/products')">Products
        </button>
        <button type="button" class="btn btn-primary mr-1" (click)="this.ApiService.logout()">Logout</button>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>